body {
  background-color:black;
  color: white;
}

h1 {
  font-size: 100px;
  letter-spacing: 5px; line-height: 0.1;
  color:rgb(225,225,225);
  text-shadow: 6px 6px rgba(100,0,0,0.7);
  text-align: center;
  font-family: "Impact", monospace;
}

ul {
  list-style-type: none;
  margin-left: 50%;
  padding: 0 0 0 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  background-color: #333;
  text-align: center;
  padding: 10px 10px;
  margin: 10px;
  text-decoration: none;
  font-family:"Courier New", monospace;
}

/*a:link {
  margin:5px 5px 5px 5px;
  text-decoration:none;
  border:rgb(233, 233, 233) 1px solid;
  position: fixed;
  right:10px; top: 10px;

}

a:hover, a:active {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border:rgb(233, 233, 233) 1px solid;
}
*/
