/*FADE TRANSITIONS*/
body {
   opacity: 1;
   transition-duration: 0.7s;
   transition-property: opacity;
 }

 body.fade {
   opacity: 0;
 }

/*MAIN FORMAT*/

body {
  background-color:black;
  color: white;
}

h1 {
  font-size: 150px;
  letter-spacing: 0px; line-height: 0.1;
  color:rgb(225,225,225);
  text-shadow: 6px 6px rgba(100,0,0,0.7);
  font-family: "Source Sans Pro", monospace;
  word-spacing: 2px;
  text-align: center;
  letter-spacing:5px;
}

h2 {
  font-size: 40px;
  line-height: 2;
  color:rgb(225,225,225);
  text-align: center;
  font-family: "Courier New", monospace;
  font-weight: lighter;
}

p {
  font-size: 35px;
  line-height: 2;
  color:rgb(225,225,225);
  text-align: center;
  font-family: "Courier New", monospace;
  font-weight: lighter;
}

.underline {
  background-size: 1px 1em;
  box-shadow:
    inset 0 -0.175em black,
    inset 0 -0.2em white;
  display: inline;
}

/**NAVIGATION BAR*/

ul {
  list-style-type: none;
  margin-left: 50%;
  padding: 0 0 0 0;
  overflow: hidden;
  position:sticky;
  z-index:20;
}

li {
  float: right;
}

li a {
  font-size: 20px;
  display: block;
  color: white;
  background-color: rgba(100,0,0,0.7);
  text-align: center;
  padding: 10px 10px;
  margin: 10px;
  text-decoration: none;
  font-family:"Courier New", monospace;
}

#active {
  background-color: rgb(30, 0, 0);
  color: #ffffff;
  font-weight: 20px;
}

a:link {
  margin:5px 5px 5px 5px;
  text-decoration:none;
}

a:hover, a:active {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

/*TRANSPARENT LINKS ON HOME PAGE*/

.container {
  width: 60px;
  length: 80px;
  position: absolute;
  margin-top: 300px;
}

.rounded {
  font-size:20px;
  padding:5px;
  color: black;
  border-top: 2px solid rgb(204, 221, 241);
  border-bottom: 2px solid rgb(204, 221, 241);
  font-weight: 550;
  cursor:pointer;
  background-color: rgba(225,225,225,0.5);
  width:1050px;
}

/* FANTASY ESCAPE ROOM */

.container4 {
  width:1325px;
  height:600px;
  position: absolute;
  background-size: 100%;
  padding:0px;
  margin-top:0px;
  background-image: url(images/fantasyLand.jpg);
  background-repeat: no-repeat;
}

.trFilter {
  position: relative;
  z-index:0;
  height: 540px;
  width: 1255px;
  margin:30px;
  opacity: 0.6;
  background: black;
  border: 3px solid #D79280;
}

.ontop {
  font-weight:bold;
  font-family:'Papyrus';
  font-size:70px;
  line-height:1;
  top:0.1em;
  left:150px;
  position: absolute;
  z-index: 21;
}

.fontFncy {
  font-family:'Papyrus';
  font-size:35px;
  line-height:1.75;
  top:2em;
  left:20px;
  padding:60px;
  position: absolute;
  z-index: 21;
}

.fontFncy1 {
  font-family:'Papyrus';
  font-size:37px;
  line-height:2;
  top:1.5em;
  left:20px;
  padding-left:90px; padding-right: 90px;
  position: absolute;
  z-index: 21;
}

.fontFncy2 {
  font-family:'Papyrus';
  font-size:42px;
  top:-0.75em;
  left:30px;
  position: absolute;
  z-index: 50;
}

.fontFncy3 {
  font-family:'Papyrus';
  font-size:40px;
  top:12em;
  left:30px;
  line-height: 1.5;
  position: absolute;
  z-index: 50;
  color: #331a00;
  background-color: #E1D8CA;
}

.fontFncy4 {
  font-family:'Papyrus';
  font-size:50px;
  top:-0.75em;
  left:30px;
  position: absolute;
  z-index: 50;
  padding: 60px;
}

#next {
  float: right;
  height: 40px;
  width: 200px;
  margin-top: 490px;
  transform:translate(-250%,-50%);
  padding-top: 10px;
  font-size: 20px;
  display: block;
  font-weight: bolder;
  color: black;
  background-color: rgb(255,165,0);
  text-align: center;
  text-decoration: none;
  font-family:"Papyrus", monospace;
}

#skip {
  float: right;
  height: 25px;
  width: 80px;
  margin-top: 465px;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: bolder;
  color: black;
  background-color: rgb(255,255,255);
  text-align: right;
  text-decoration: none;
  font-family:"Papyrus", monospace;
  z-index:200;
}

.container5 {
  width:1325px;
  height:600px;
  position: absolute;
  background-size: 100%;
  padding:0px;
  margin-top:0px;
  background-image: url(images/fantasyRuins.jpg);
  background-repeat: no-repeat;
}

.container6 {
  position: absolute;
  background-size: 100%;
  width:1325px;
  height:600px;
  padding:0px;
  margin-top:0px;
  background-image: url(images/fantasyCastle.jpg);
  background-repeat: no-repeat;
}

.container7 {
  position: absolute;
  background-size: 100%;
  width:1325px;
  height:600px;
  padding:0px;
  margin-top:0px;
  background-image: url(images/fantasyClock.jpg);
  background-repeat: no-repeat;
}

.container8 {
  position: relative;
  background-size: 100%;
  width:1300px;
  height:590px;
  padding:0px;
  margin-top:0px;
  background-image: url(images/fantasyClues.png);
  background-repeat: no-repeat;
}

.container9 {
  position: relative;
  background-size: 100%;
  width:1320px;
  height:595px;
  padding:2px;
  margin-top:-15px;
  background-image: url(images/fantasyLights.jpg);
  background-repeat: no-repeat;
}

.container10 {
  position: relative;
  background-size: 100%;
  width:1320px;
  height:595px;
  padding:2px;
  margin-top:-15px;
  background-image: url(images/fantasyLock.jpg);
  background-repeat: no-repeat;
}

input[type=number] {
  width: 60px;
  height: 70px;
  padding: 30px 5px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 3px solid #CCC;
  background-color: #E1D8CA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size:30px;
  font-family:"Papyrus", monospace;
  text-align: center;
}

input[type=number]:focus {
  outline:none;
  border: 3px solid #331a00;
}

.bottomAlign {
  text-position:bottom;
  position: absolute;
  bottom:-6px;
  list-style-type: none;
}

#afterSubmit {
  visibility: hidden;
}

#submit {
  font-family:'Papyrus';
  font-size:20px;
  top:5em;
  left:920px;
  line-height: 1.5;
  position: absolute;
  z-index: 50;
  color: #331a00;
  background-color: #E1D8CA;
  font-weight:bold;
}
